body{
   margin: 0;
    padding: 0;   
    align-items: center;
    background-color: hsl(212, 45%, 89%);
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}
.card{
   width: 300px;
   height: 600px;
   background-color: white;
   border-radius: 15px;
   box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
   display: flex;
   flex-direction: column;
   align-items: center;
   font-family: 'Outfit', sans-serif;
   text-align: center;
   padding: 20px;
   box-sizing: border-box;
    margin: auto;
}
.card img:first-child{
   width: 50px;
   height: 50px;
   margin-bottom: 20px;
}
.card img:nth-child(2){
   width: 260px;
   height: 260px;
   border-radius: 15px;
   margin-bottom: 20px;
}
.card div{
   font-size: 18px;
   color: hsl(218, 44%, 22%);
   margin-bottom: 15px;
}
.card div:nth-child(3){
   font-size: 14px;
   color: hsl(220, 15%, 55%);
}
.attribution{
   text-align: center;
   font-size: 11px;
   color: hsl(228, 45%, 44%);
   margin-top: 20px;
}
.attribution a{
   color: hsl(228, 45%, 44%);
   text-decoration: none;
}
.attribution a:hover{
   text-decoration: underline;
}
@media (max-width: 400px){
   .card{
       width: 90%;
       height: auto;
   }
   .card img:nth-child(2){
       width: 100%;
       height: auto;
   }
}
.attribution{
   position: fixed;
   bottom: 10px;
    font-size: 10px;
   color: hsl(228, 45%, 44%);
}

.attribution a{
   color: hsl(228, 45%, 44%);
   text-decoration: none;
}
.attribution a:hover{
   text-decoration: underline;
}
@media (max-width: 400px){
   .attribution{
       position: static;
       margin-top: 10px;
   }
}


